[user]
  name = Rafaell Lycan
  email = sonny.webdsg@gmail.com
[diff]
[color]
  ui = true
[alias]
  st = status -sb
  br = branch
  delete = branch -D
  ci = commit
  co = checkout
  d = diff
  dc = diff -- cached
  all = add . --all
  head = log -1
  pom = push origin master
  phm = push heroku master
  rao = remote add origin
  lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --abbrev-commit
  l = !"git lg1"
  lg = !"git lg2"
[push]
  default = simple
[core]
  excludesfile = /Users/rafaell/.gitignore_global
